# PlatformIO
.pio
.pioenvs
.piolibdeps

# VS Code
.vscode/*
!.vscode/extensions.json
.history/

# Python simulation
__pycache__/
*.py[cod]
*$py.class

# OS Files
.DS_Store
Thumbs.db

# Misc
*.bak
*.tmp